<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Site Identity</div>
  <div class="card-body">
    <div class="table-responsive">
    <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Site Name</th>
                    <th>Site Description</th>
                    <th>Site Meta</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
              <% @site_identities.each do | site_identity | %>
                <tr>
                  <td><%= site_identity.site_name %></td>
                  <td><%= site_identity.site_description %></td>
                  <td><%= site_identity.site_meta %></td>
                  <td><%= link_to edit_backend_site_identity_path(site_identity) do %>
                    <i class="far fa-edit" data-toggle="tooltip" data-placement="top" title="Edit site_identity?"></i>
                  <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
});
</script>
